{% load i18n %} {% load static %}
<footer class="bg">
    <div class="container-fluid">
        <div class="footer-height">
            <div class="container">
                <div class="row">
                    <div class="footer-top">
                        <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <!--<a href="http://tubitak.gov.tr/" target="_blank" class="hvr-grow">-->
                            <!--<img src="src/img/tubitak.png" class="img-fluid" alt="Tübitak">-->
                            <!--</a>-->
                            <a href="http://turkiyeteknolojitakimi.org/" target="_blank" class="hvr-grow">
                                <img src="{% static 'src/img/turkiye-teknoloji-takimi.png' %}" class="img-fluid"
                                     alt="T3">
                            </a>
                            <!--<a href="https://www.uskudar.bel.tr/" target="_blank" class="hvr-grow">-->
                            <!--<img src="src/img/uskudar-belediyesi.png" class="img-fluid" alt="Üsküdar">-->
                            <!--</a>-->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-bottom-left">
                            <a href="{% url 'content:t3bilimturkiye:main' %}">
                                <img src="{% static 'src/img/BTLogo.png' %}" class="img-fluid" alt="Bilim Türkiye Logo"
                                     style="width: 120px;">
                            </a>
                            <h6>{{ site_info.footer_address }}</h6>
                            <div class="footer-icon">
                                <div class="footer-box">
                                    <img src="{% static 'src/img/mail.svg' %}" alt="E-Posta">
                                    <p><a href="mailto:{{ site_info.email }}"
                                          style="color:#000000;">{{ site_info.email }}</a>
                                    </p>
                                </div>
                                <div class="footer-box">
                                    <img src="{% static 'src/img/phone.svg' %}" alt="Telefon">
                                    <p>{{ site_info.phone }}</p>
                                </div>

                            </div>

                            <div class="footer-social-media">
                                <ul>
                                    <a href="https://www.instagram.com/t3bilimtr/" target="_blank">
                                        <li><img src="{% static 'src/img/instagram-icon.svg' %}" alt="Instagram"></li>
                                    </a>
                                    <a href="https://twitter.com/t3bilimtr" target="_blank">
                                        <li><img src="{% static 'src/img/twitter-icon.svg' %}" alt="Twitter"></li>
                                    </a>
                                    <a href="https://www.facebook.com/t3vakfibilimtr" target="_blank">
                                        <li><img src="{% static 'src/img/facebook-icon.svg' %}" alt="Facebook"></li>
                                    </a>

                                </ul>
                            </div>

                            <div class="footer-copyright">
                                <p>© {{ site_info.copyright }}</p>
                                <ul>
                                    <li><a href="{% url 'content:privacy_policy' %}"><p class="privacy">Gizlilik
                                        Politikası</p>
                                    </a></li>
                                    <li><a href="{% url 'content:user_agreement' %}"><p class="privacy">Kullanıcı
                                        Sözleşmesi</p>
                                    </a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    {% for header_menu in header_menu_list  %}
                    {% if forloop.counter0 < 5 and forloop.counter0 > 0 %}
                        <div class="col-md-2">
                            <ul class="footer-link">
                                <li class="footer-head">{{ header_menu.text|upper }}</li>
                                {% for sub_menu in header_menu.menu_list %}

                                    <a{% if sub_menu.slug %}
                                        href="{{ sub_menu.get_absolute_url }}"
                                        {% else %}
                                          href="{% url sub_menu.view_name %}"
                                    {% endif %}>
                                        <li>{{ sub_menu.text|upper }}</li>
                                    </a>
                                {% endfor %}

                            </ul>
                        </div>
                    {% endif %}
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>


</footer>