
{% load i18n %} {% load static %}
<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	
		<meta name="keywords" content="DENEYAP Atölyeleri, deneyap, t3 vakfı deneyap, maker deneyap, genç mucitler atölyesi">
		<meta name="description" content="Temmuz 2017 tarihinden bu yana faaliyette bulunan DENEYAP Teknoloji Atölyeleri’mizde, geleceğin teknoloji yıldızları yetişiyor.">
        <meta name="google-site-verification" content="-086vOT1B22zb4MFlHkQ4282E_5bAdeCx3AWOleaTYo" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img\favicon.png' %}" type="image/x-icon">
		<link rel="apple-touch-icon" href="img\apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor\bootstrap\css\bootstrap.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\fontawesome-free\css\all.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\animate\animate.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\simple-line-icons\css\simple-line-icons.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\owl.carousel\assets\owl.carousel.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\owl.carousel\assets\owl.theme.default.min.css' %}">		<link rel="stylesheet" href="{% static 'vendor\magnific-popup\magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css\theme.css'  %}">
		<link rel="stylesheet" href="{% static 'css\theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'css\theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css\theme-shop.css' %}">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'vendor\rs-plugin\css\settings.css'  %}">
		<link rel="stylesheet" href="{% static 'vendor\rs-plugin\css\layers.css'  %}">
		<link rel="stylesheet" href="{% static 'vendor\rs-plugin\css\navigation.css'  %}">
		<link rel="stylesheet" href="{% static 'vendor\circle-flip-slideshow\css\component.css'  %}">
		
		<!-- Demo CSS -->
 <script src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyDGVdR2sm126TJ82PjpVtV61M_Q8Jdy7hw" type="text/javascript"></script>

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'css\skins\default.css'  %}">		<script src="{% static 'master\style-switcher\style.switcher.localstorage.js'  %}"></script> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css\custom.css'  %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor\modernizr\modernizr.min.js'  %}"></script>

	</head>