{% load static %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-155NN6BJ4Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-155NN6BJ4Y');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/smart-mobile-menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/smm-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/hover-min.css' %}">

    <link rel="stylesheet" href="{% static 'css/animsition.min.css' %}">

    <!--popup css -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/pop-up8.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    <meta name="keywords" content="BİLİM TÜRKİYE"/>
    <meta name="description"
          content="Bilim Türkiye, bilim ve teknolojinin toplumda geniş kitlelere ulaşmasını hedefleyen bilim merkezleri kavramını ülke geneline yayarak, çocuklarımız ve gençlerimiz başta olmak üzere toplumun her katmanında bu alanlara karşı farkındalık oluşturmayı ve ilgiyi artırmayı amaçlamaktadır. "/>
    <meta http-equiv="Content-Language" content="TR"/>
    <link href="{% static 'src/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
    <script src="{% static 'js/popup1.js' %}"></script>

