{% extends 'base.html' %}
{% load i18n %}
{% load static %}{% block content %}

<section>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="subpage-content">
                    <div class="row activity-page-new">
                        <div class="col-md-4">
                            <a href="{{ activity.get_image_url }}" data-lightbox="image-1" data-title="My caption"><img
                                    src="{{ activity.get_image_url }}" class="img-fluid"></a>
                        </div>
                        <div class="col-md-8">
                            <style>
                                .activity-box-new {
                                    display: flex;
                                }

                                .activity-box-new-left {
                                    display: flex;
                                    flex-direction: column;
                                }

                                .activity-box-new-left .date-box-new {
                                    background-color: #D8DB34;
                                    padding: 10px;
                                    margin: 0;

                                }

                                .activity-box-new-left .date-box-new h3 {
                                    padding: 0;
                                    margin: 0;

                                }

                                .activity-box-new-left .date-box-new p {
                                    color: #4545A2;
                                    padding: 0;
                                    margin: 0;

                                }

                                .activity-box-right-new {
                                    margin: 0 0 0 15px;
                                }

                                .activity-box-right-new h3 {
                                    margin: 0;
                                    padding: 0;
                                }

                                .activity-page-new p {
                                    margin: 20px 0 0 0;
                                }
                            </style>

                            <div class="activity-box-new">
                                <div class="activity-box-new-left">
                                    <div class="date-box-new">
                                        <h3>{{ activity.date|date:'d' }}</h3>
                                        <p>{% language 'tr-TR' %}
                                            {{ activity.date|date:'F' }}{% endlanguage %}
                                            <br>{{ activity.date|date:'Y' }}</p>
                                    </div>
                                </div>
                                <div class="activity-box-right-new">
                                    <h3>{{ activity.text }}</h3>
                                    <h6>{{ activity.creator }}</h6>
                                </div>
                            </div>
                            {{ activity.content|safe }}
                        </div>
                    </div>

                </div>


            </div>


        </div>
    </div>

</section>


{% endblock %}