{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subpage-content">
                        <div class="row">

                            {% for activity in activity_list %}

                                <div class="col-md-6 col-12">
                                    <div class="all-activity-box hvr-shadow">
                                        <div class="all-activity-box-left">
                                            <img src="{{ activity.get_image_url }}"
                                                 alt="{{ activity.text }}">
                                        </div>


                                        <div class="activity-box-new">
                                            <div class="activity-box-new-left">
                                                <div class="date-box-new">
                                                    <h3 style="color:#fff;">{{ activity.date|date:'d' }}</h3>
                                                    <p style="color:#fff;">{% language 'tr-TR' %}
                                                        {{ activity.date|date:'F' }}{% endlanguage %}
                                                        <br>{{ activity.date|date:'Y' }}</p>
                                                </div>
                                            </div>

                                            <div class="activity-box-right-new">
                                                <h3 style="margin: 0 0 10px 0;">{{ activity.text }}</h3>
                                                <h6>{{ activity.creator }}</h6>


                                                <div class="all-news-buton">
                                                    <a href="{{ activity.get_absolute_url }}">
                                                        <button class="general-btn">Detaylar <img
                                                                src="{% static 'src/img/next.svg' %}"
                                                                alt="">
                                                        </button>
                                                    </a>
                                                </div>


                                            </div>
                                        </div>


                                    </div>
                                </div>
                            {% endfor %}


                        </div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mt-3">


                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>

    </section>


{% endblock %}