{% extends "base_info.html" %}
{% load i18n %}
{% load %}
{% load static %}
{% block bg_image %}
    <picture>
        <source srcset="{% static 'img/genel/banner1.jpg' %}" media="(min-width: 992px)"/>
        <img class="img--bg" src="{% static 'img/genel/banner1.jpg' %}" alt="img"/>
    </picture>
{% endblock bg_image %}
{% block title %}
    <h1 class="promo-primary__title"><span>T3 Vakfı</span> <span>Çağrıları</span></h1>
{% endblock %}
{% block content_section %}

    <section class="section causes-inner">
        <div class="container">

            <div class="row offset-margin">

                {#       item start #}
                {% for call in announcements %}
                    <div class="col-md-8 offset-md-2 col-lg-12 offset-lg-0">
                        <div class="causes-item causes-item--style-3">
                            <div class="causes-item__body">
                                <div class="row align-items-center">
                                    <div class="col-lg-5 col-xl-4">
                                        <div class="causes-item__img"><img class="img--bg"
                                                                           src="{% static 'upload/2019071118380719118.jpg' %}"
                                                                           alt="img">
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-xl-8">
                                        <div class="causes-item__action">
                                            <div class="causes-item__badge"
                                                 style="background-color: {{ call.category.color }}">
                                                {{ call.category.text }}
                                            </div>
                                            <a class="button causes-item__button button--primary"
                                               href="{{ call.get_absolute_url }}">+
                                                Devamını Oku</a>
                                        </div>
                                        <div class=" causes-item__top">
                                            <h6 class="causes-item__title"><a
                                                    href="{{ call.get_absolute_url }}">{{ call.text }}</a></h6>
                                            <p><strong>{{ call.date|date }}</strong></p>
                                            <p>{{ call.summary|safe }} </p>
                                        </div>
                                        <div class="causes-item__lower">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#                    item end#}
            </div>
        </div>

        <div class=" container">
            <div class="row">
                <div class="col-12">
   <!-- pagination start-->
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <li class="pagination__item pagination__item--prev"><i class="fa fa-angle-left"
                                                                                       aria-hidden="true"></i><span>Geri</span>
                                </li>
                            </a>
                        {% endif %}


                        {% with ''|center:page_obj.paginator.num_pages as range %}
                            {% for _ in range %}
                                <a href="?page={{ forloop.counter }}">
                                    <li class="pagination__item pagination__item--active"><span>{{ forloop.counter }}</span></li>
                                </a>
                            {% endfor %}
                        {% endwith %}


                        <!--<li class="pagination__item pagination__item--disabled">...</li>
                        <li class="pagination__item"><span>12</span></li>-->
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                                <li class="pagination__item pagination__item--next"><span>İleri</span><i
                                        class="fa fa-angle-right" aria-hidden="true"></i>
                                </li>
                            </a>
                        {% endif %}
                    </ul>
                    <!-- pagination end-->
                </div>
            </div>
        </div>
    </section>


{% endblock content_section %}
{% block extra_script %}
{% endblock extra_script %}