{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subpage-content">
                        <div class="news-detail">
                            <a href="{{ news_cast.bg_image_url }}" data-lightbox="image-1"
                               data-title="{{ news_cast.text }}"><img
                                    src="{{ news_cast.bg_image_url }}" class="img-fluid"
                                    alt="{{ news_cast.text }}"></a>
                            <div class="news-detail-text">
                                <h3>{{ news_cast.text }}</h3>
                                <p>
                                    {{ news_cast.content|safe }}
                                </p>
                            </div>
                        </div>


                    </div>

                </div>


            </div>
        </div>

    </section>

{% endblock content %}
