{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subpage-content">
                        <div class="row">
                            {% for news_cast in news_casts %}
                                <div class="col-md-6 col-12">
                                    <div class="all-activity-box hvr-shadow">
                                        <div class="all-activity-box-left">
                                            <img src="{{ news_cast.bg_image_url }}"
                                                 alt="{{ news_cast.text }}">
                                        </div>
                                        <div class="all-activity-box-right">
                                            <h5>{{ news_cast.text }}</h5>
                                            <p> {{ news_cast.summary }}</p>
                                            <div class="all-news-buton">
                                                <a href="{{ news_cast.get_absolute_url }}">
                                                    <button class="general-btn">Detaylar <img
                                                            src="{% static 'src/img/next.svg' %}"
                                                            alt="">
                                                    </button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>

                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-end mt-3">

                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" tabindex="-1"
                                                                      aria-disabled="true"
                                                                      href="?page={{ page_obj.previous_page_number }}">«
                                        Önceki</a></li>
                                {% endif %}

                                {% with ''|center:page_obj.paginator.num_pages as range %}
                                    {% for _ in range %}

                                        <li class="page-item"><a class="page-link"
                                                                 href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                                        </li>

                                    {% endfor %}
                                {% endwith %}


                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Sonraki
                                        »</a>
                                    </li>

                                {% endif %}


                            </ul>
                        </nav>
                    </div>
                </div>


            </div>
        </div>

    </section>

{% endblock %}

