body{
    font-family: 'Montserrat', sans-serif;
}

h5{
    margin: 15px 0;
}

.bubble {
    position: relative;
    background: #25252C;
    color: #fff;
    box-shadow: 5px 5px 2px 0px #A3A3A3;
    text-align: center;
    width: 226px;
    height: 155px;
    border-radius: 20px;
    padding: 0px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #000 transparent;
    border-width: 0 10px 20px;
    top: -20px;
    left: 50%;
    margin-left: -10px;
}
