*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	position: relative;
    width: 100%;
    height: 100%;
	margin:0;
	padding:0;
	border:none;
	outline: none;
	direction:ltr;
	overflow-x:hidden;
	overflow-y:scroll;
}
body{
	position: relative;
    width: 100%;
    height: 100%;
	margin:0;
	padding:0;
	border:none;
	outline:none;
	background-color: #f1f1f1;
    background-image: url("../Resimler/BG.png");
    background-size: cover;
    background-repeat: no-repeat;
	text-decoration: none;
	z-index: -1;
}
.container{
	position: relative;
	width: 100%;
    height: 100%;
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
.sosyal-giris-form{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
    height: 100%;
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
.t3-sosyal-logo{
	position: absolute;
	top: 20px;
	/* left: 46%; */
	border: none;
	outline: none;
	margin: 0px auto;
}
.form-group-name{
	position: absolute;
	top: 170px;
	/* left: 40%; */
	width: 300px;
	height: 45px;
	border: 1px solid #ACACAC;
	border-radius: 20px;
	background: transparent;
	margin: 0px auto;
}
.kullanici-adi-logo{
	margin-top: 10px;
	margin-left: 1px;
}
.form-control{
	float: right;
	width: 255px;
	height: 42px;
	margin-top: 1px;
	margin-bottom: 1px;
	border: none;
	outline: none;
	border-radius: 20px;
	background: transparent;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: #282828;
}
.form-group-email{
	position: absolute;
	top: 230px;
	/* left: 40%; */
	width: 300px;
	height: 45px;
	border: 1px solid #ACACAC;
	border-radius: 20px;
	background: transparent;
	margin: 0px auto;
}
.form-group-kullanici-adi{
	position: absolute;
	top: 290px;
	/* left: 40%; */
	width: 300px;
	height: 45px;
	border: 1px solid #ACACAC;
	border-radius: 20px;
	background: transparent;
	margin: 0px auto;
}
.form-group-sifre{
	position: absolute;
	top: 350px;
	/* left: 40%; */
	width: 300px;
	height: 45px;
	border: 1px solid #ACACAC;
	border-radius: 20px;
	background: transparent;
	margin: 0px auto;
}
.form-group-sifre-onay{
	position: absolute;
	top: 410px;
	/* left: 40%; */
	width: 300px;
	height: 45px;
	border: 1px solid #ACACAC;
	border-radius: 20px;
	background: transparent;
	margin: 0px auto;
}
.kullanici-adi-logo-tick{
	margin-top: 0px;
	margin-left: -15px;
	margin-bottom: 2px;
}
.kayit-ol{
	position: absolute;
	top: 470px;
	width: 300px;
	height: 45px;
	border: none;
	outline: none;
	margin: 0px auto;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	background-color: #f8f8f8;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #090909;
	cursor: pointer;
	transition: .3s ease-in-out all;
}
.kayit-ol:hover{
	transition: .3s ease-in-out all;
	background-color: rgb(226, 225, 225);
}














