<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forum Kategori</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png"></a>
    </div>
    <div class="navbar-header navbar-end">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/profile.png">
        </div>
        <div class="col-md-9">
          <h4><b>Kağan Doğan</b></h4>
          <span>Hesabım</span>
        </div>
      </div>
    </div>
    <div class="navbar-center">
      <input type="search" name="search" placeholder="Arama Yap" class="form-control" id="search">
    </div>
  </div>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/home.png"> 
                <span class="title">Anasayfa</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/people.png"> 
                <span class="title">Üyeler</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/calendar.png"> 
                <span class="title">Takvim</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/forum.png"> 
                <span class="title">T3 Forum</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/book.png"> 
                <span class="title">Dijital Ansiklopedi</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/mentor.png"> 
                <span class="title">Mentor Bul</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/group.png"> 
                <span class="title">Gruplar</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/achievement.png"> 
                <span class="title">Skor Tablosu</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">

                <div class="category">
                    <a href="" class="btn person">
                      <img src="assets/images/automation.png">
                      <h4>Teknoloji</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/newspaper.png">
                      <h4>Gündem</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/palette.png">
                      <h4>Sanat</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/web-design.png">
                      <h4>Tasarım</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/talk.png">
                      <h4>Eğlence</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/cup.png">
                      <h4>Yarışma</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/console.png">
                      <h4>Oyun</h4>
                    </a>

                    <a href="" class="btn person">
                      <img src="assets/images/chat.png">
                      <h4>Sohbet</h4>
                    </a>
                </div>
            </div>
          </div>

          <h1>Teknoloji</h1>
          <div class="content">
            <h4>Yeni Yazılar</h4>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
          </div>
          
          <div class="content">
            <h4>Popüler Yazılar</h4>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
            <div class="row item">
              <div class="col-md-10">
                <h5>Lorem ipsum dolar sit amet ?</h5>
              </div>
              <div class="col-md-2">
                <h6 class="text-right">54 Mesaj</h6>
              </div>
            </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Right-->
  <div id="sidebar-wrapper-right">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/add-btn.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-1.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-2.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-3.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/boo.png">
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>

<script src="index.js"></script>

</body>
</html>