<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yeni Mesaj Popup</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <br><br>
  <div class="bubble">
    <br>
    <div class="row">
      <div class="col-md-4">
        <img src="assets/images/ayca.png" class="img-rounded">
      </div>
      <div class="col-md-8">
        <span class="online"></span>
        <h4 class="text-left"><b>Ayça Yılmaz</b></h4>
      </div>
    </div>
    <br><br>
    <div class="message-content">
      <div class="left-popup">
        <p class="text-left">That’s very nice place! you guys made a very good decision. Can’t wait to go on vacation!</p>
        <span class="time">16.04</span>
      </div>
      <div class="clearfix"></div>
      <div class="right-popup">
        <p>That’s very nice place! you guys made a very good decision. Can’t wait to go on vacation!</p>
        <span class="time">16.04</span>
      </div>
      <div class="clearfix"></div>
      <div class="right-popup">
        <p>That’s very nice place! you guys made a very good decision. Can’t wait to go on vacation!</p>
        <span class="time">16.04</span>
      </div>
    </div>
    

    <div class="message-input-div">
      <input type="text" name="" class="message-input" placeholder="Mesaj">
      <a href="" class="attach"><img src="assets/images/attach.png"></a>
      <a href="" class="send"><img src="assets/images/send.png"></a>
    </div>

  </div>
</body>
</html>