<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Takvim</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png"></a>
    </div>
    <div class="navbar-header navbar-end">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/profile.png">
        </div>
        <div class="col-md-9">
          <h4><b>Kağan Doğan</b></h4>
          <span>Hesabım</span>
        </div>
      </div>
    </div>
    <div class="navbar-center">
      <input type="search" name="search" placeholder="Arama Yap" class="form-control" id="search">
    </div>
  </div>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/home.png"> 
                <span class="title">Anasayfa</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/people.png"> 
                <span class="title">Üyeler</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/calendar.png"> 
                <span class="title">Takvim</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/forum.png"> 
                <span class="title">T3 Forum</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/book.png"> 
                <span class="title">Dijital Ansiklopedi</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/mentor.png"> 
                <span class="title">Mentor Bul</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/group.png"> 
                <span class="title">Gruplar</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/achievement.png"> 
                <span class="title">Skor Tablosu</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 content">
          <div class="row">
            <h4><b>Temmuz</b> <span>2021</span></h4>
            
            <table class="calendar mb-30">
              <tr>
                <th class="day-name">Pazartesi</th>
                <th class="day-name">Salı</th>
                <th class="day-name">Çarşamba</th>
                <th class="day-name">Perşembe</th>
                <th class="day-name">Cuma</th>
                <th class="day-name">Cumartesi</th>
                <th class="day-name">Pazar</th>
              </tr>
              <tr>
                <td class="day"><span class="number">31</span></td>
                <td class="day"><span class="number">1</span></td>
                <td class="day"><span class="number">2</span></td>
                <td class="day"><span class="number">3</span></td>
                <td class="day"><span class="number">4</span></td>
                <td class="day"><span class="number">5</span>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/partner-1-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-2-min.png">
                    </div>
                  </div>
                </td>
                <td class="day"><span class="number">6</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">7</span></td>
                <td class="day"><span class="number">8</span></td>
                <td class="day today"><span class="number">9</span>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/partner-1-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-2-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-3-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-4-min.png">
                    </div>
                  </div>
                </td>
                <td class="day"><span class="number">10</span></td>
                <td class="day"><span class="number">11</span></td>
                <td class="day"><span class="number">12</span></td>
                <td class="day"><span class="number">13</span>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/partner-1-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-2-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-3-min.png">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="day"><span class="number">14</span></td>
                <td class="day"><span class="number">15</span></td>
                <td class="day"><span class="number">16</span></td>
                <td class="day"><span class="number">17</span></td>
                <td class="day"><span class="number">18</span></td>
                <td class="day"><span class="number">19</span></td>
                <td class="day"><span class="number">20</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">21</span></td>
                <td class="day"><span class="number">22</span></td>
                <td class="day"><span class="number">23</span></td>
                <td class="day"><span class="number">24</span>
                  <div class="row">
                    <div class="col-md-6">
                      <img src="assets/images/partner-1-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-2-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-3-min.png">
                    </div>
                    <div class="col-md-6">
                      <img src="assets/images/partner-4-min.png">
                    </div>
                  </div>
                </td>
                <td class="day"><span class="number">25</span></td>
                <td class="day"><span class="number">26</span></td>
                <td class="day"><span class="number">27</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">28</span></td>
                <td class="day"><span class="number">29</span></td>
                <td class="day"><span class="number">30</span></td>
                <td class="day"><span class="number">1</span></td>
                <td class="day"><span class="number">2</span></td>
                <td class="day"><span class="number">3</span></td>
                <td class="day"><span class="number">4</span></td>
              </tr>
              <tr>
                <td class="day"><span class="number">5</span></td>
                <td class="day"><span class="number">6</span></td>
                <td class="day"><span class="number">7</span></td>
                <td class="day"><span class="number">8</span></td>
                <td class="day"><span class="number">9</span></td>
                <td class="day"><span class="number">10</span></td>
                <td class="day"><span class="number">11</span></td>
              </tr>
            </table>
          </div>
          <div class="row">
            <div class="col-md-4">
              <img src="assets/images/partner-1-min.png">
              <span>Akran Eğitimi</span>
            </div>
            <div class="col-md-4">
              <img src="assets/images/partner-2-min.png">
              <span>Girişimci Yetiştirme Programı</span>
            </div>
            <div class="col-md-4">
              <img src="assets/images/partner-3-min.png">
              <span>Deneyap Eğitimi</span>
            </div>
          </div>
          <div class="row mt-30 mb-30">
            <div class="col-md-4">
              <img src="assets/images/partner-4-min.png">
              <span>Girişimci Yetiştirme Programı</span>
            </div>
            <div class="col-md-4">
              <img src="assets/images/partner-5-min.png">
              <span>Deneyap Eğitimi</span>
            </div>
            
          </div>
          <h4><b>9 Şubat</b> <span>2021</span></h4>

          <div class="row">

            <div class="col-md-6">
              <div class="card">
                <div class="row mb-30 center-block">
                  <div class="col-md-3">
                    <img src="assets/images/partner-1.png">
                  </div>
                  <div class="col-md-9">
                    <h4 class="text-center"><b>Akran Eğitimi</b></h4>
                  </div>
                </div>
                <h4 class="text-center">Tasarım Sistemini Anlamak</h4>
                <h6 class="text-right mb-30">9 Şubat 2021 - 21:45</h6>

                <div class="row text-center"> 
                  <div class="col-md-4">
                    <img src="assets/images/profil.png">
                  </div>
                  <div class="col-md-8">
                    <h4 class="text-left">Hasan Kağan Doğan</h4>
                    <h6 class="text-left">İşletme Mühendisliği</h6>
                    <h6 class="text-left">İstanbul Teknik Üniversitesi</h6>
                    <div class="row social">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/facebook.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/instagram.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/twitter.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/social.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/discord.png"></a>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-30 mb-10">
                  <a href="" class="text-center card-btn">Takvime Ekle</a>
                </div>
                
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="row mb-30 center-block">
                  <div class="col-md-3">
                    <img src="assets/images/partner-2.png">
                  </div>
                  <div class="col-md-9">
                    <h4 class="text-center"><b>Deneyap Eğitimi</b></h4>
                  </div>
                </div>
                <h4 class="text-center">Tasarım Sistemini Anlamak</h4>
                <h6 class="text-right mb-30">9 Şubat 2021 - 21:45</h6>

                <div class="row text-center"> 
                  <div class="col-md-4">
                    <img src="assets/images/profil.png">
                  </div>
                  <div class="col-md-8">
                    <h4 class="text-left">Hasan Kağan Doğan</h4>
                    <h6 class="text-left">İşletme Mühendisliği</h6>
                    <h6 class="text-left">İstanbul Teknik Üniversitesi</h6>
                    <div class="row social">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/facebook.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/instagram.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/twitter.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/social.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/discord.png"></a>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-30 mb-10">
                  <a href="" class="text-center card-btn">Takvime Ekle</a>
                </div>
                
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="row mb-30 center-block">
                  <div class="col-md-3">
                    <img src="assets/images/partner-3.png">
                  </div>
                  <div class="col-md-9">
                    <h4 class="text-center"><b>Girişimcilik Eğitimi</b></h4>
                  </div>
                </div>
                <h4 class="text-center">Tasarım Sistemini Anlamak</h4>
                <h6 class="text-right mb-30">9 Şubat 2021 - 21:45</h6>

                <div class="row text-center"> 
                  <div class="col-md-4">
                    <img src="assets/images/profil.png">
                  </div>
                  <div class="col-md-8">
                    <h4 class="text-left">Hasan Kağan Doğan</h4>
                    <h6 class="text-left">İşletme Mühendisliği</h6>
                    <h6 class="text-left">İstanbul Teknik Üniversitesi</h6>
                    <div class="row social">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/facebook.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/instagram.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/twitter.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/social.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/discord.png"></a>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-30 mb-10">
                  <a href="" class="text-center card-btn">Takvime Ekle</a>
                </div>
                
              </div>
            </div>

            <div class="col-md-6">
              <div class="card">
                <div class="row mb-30 center-block">
                  <div class="col-md-3">
                    <img src="assets/images/partner-4.png">
                  </div>
                  <div class="col-md-9">
                    <h4 class="text-center"><b>Bilim Türkiye</b></h4>
                  </div>
                </div>
                <h4 class="text-center">Tasarım Sistemini Anlamak</h4>
                <h6 class="text-right mb-30">9 Şubat 2021 - 21:45</h6>

                <div class="row text-center"> 
                  <div class="col-md-4">
                    <img src="assets/images/profil.png">
                  </div>
                  <div class="col-md-8">
                    <h4 class="text-left">Hasan Kağan Doğan</h4>
                    <h6 class="text-left">İşletme Mühendisliği</h6>
                    <h6 class="text-left">İstanbul Teknik Üniversitesi</h6>
                    <div class="row social">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/facebook.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/instagram.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/twitter.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/social.png"></a>
                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <a href=""><img src="assets/images/discord.png"></a>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
                    </div>
                  </div>
                </div>

                <div class="text-center mt-30 mb-10">
                  <a href="" class="text-center card-btn">Takvime Ekle</a>
                </div>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Right-->
  <div id="sidebar-wrapper-right">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/add-btn.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-1.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-2.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-3.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/boo.png">
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>

<script src="index.js"></script>

</body>
</html>