<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<html lang="tr">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ site_info.text}}</title>

    <meta name="keywords" content="{{ site_info.keywords}}"/>
    <meta name="description" content="{{ site_info.description}}">
    <meta name="author" content="{{ site_info.author}}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site_info.favicon_url }}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{{ site_info.favicon_url }}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <!-- Web Fonts  -->
    <link id="googleFonts"
          href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&display=swap"
          rel="stylesheet" type="text/css">


    {% block extra_css %}
    {% endblock %}

</head>
<body>


{% block header %}
{% include 'partials/header.html' %}
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}

{% include 'partials/footer.html' %}

{% endblock %}

<!-- LOADING AREA  END ====== -->

{% block extra_script %}
{% endblock %}
</body>
</html>