{% extends 'base_info.html' %}
{% load static %}
{% block bg_image %}
    <picture>
        <source srcset="{% static 'img/genel/banner2.jpg' %}" media="(min-width: 992px)"/>
        <img class="img--bg" src="{% static 'img/genel/banner2.jpg' %}" alt="img"/>
    </picture>
{% endblock %}
{% block title %}
    <h1 class="promo-primary__title"><span>{{ page.text }}</span>
        <span>{{ page.continue_of_title }}</span></h1>
{% endblock %}

{% block content_section %}
    <section class="section no-padding-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="info-banner">

                        <div class="row align-items-center">

                            <div class="col-lg-12" style="text-align:justify;">
                                <p><strong>
                                </strong></p>
                                <center><strong> {{ page.text |title }}</strong></center>
                                <strong>
                                </strong>
                                {{ page.content | safe }}


                            </div>
                            <div class="col-lg-12">
                                <center><img src="img/genel/teknofest_logo.png" width="150" alt="img"></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block end_info %}
    <section class="section info no-padding-top">
        <div class="container">
            <div class="row align-items-start margin-bottom">
                <div class="col-xl-5">
                    <div class="heading heading--primary"><span
                            class="heading__pre-title">Who we work with</span>
                        <h2 class="heading__title"><span>Our</span> <span>Partners &amp; Donors</span></h2>
                        <p>TEKNOFEST, Türkiye Teknoloji Takımı Vakfı ve T.C. Sanayi ve Teknoloji Bakanlığı
                            yürütücülüğünde; Türkiye’nin önde gelen teknoloji şirketleri, kamu kurumları, medya
                            kuruluşları ve üniversitelerinin destekleriyle düzenlenmektedir.</p>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1">
                    <div class="row offset-margin">
                        <div class="col-12 col-md-6 text-md-left text-center">
                            <div class="counter-item counter-item--style-3">
                                <div class="counter-item__top">
                                    <h6 class="counter-item__title">Kategori</h6>
                                </div>
                                <div class="counter-item__lower"><span>20+</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-md-left text-center">
                            <div class="counter-item counter-item--style-3">
                                <div class="counter-item__top">
                                    <h6 class="counter-item__title">Başvuru</h6>
                                </div>
                                <div class="counter-item__lower"><span>20K+</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-md-left text-center">
                            <div class="counter-item counter-item--style-3">
                                <div class="counter-item__top">
                                    <h6 class="counter-item__title">Ödül</h6>
                                </div>
                                <div class="counter-item__lower"><span>3M TL</span></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 text-md-left text-center">
                            <div class="counter-item counter-item--style-3">
                                <div class="counter-item__top">
                                    <h6 class="counter-item__title">Destek</h6>
                                </div>
                                <div class="counter-item__lower"><span>6M TL</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="info__img"><img class="img--layout"
                                                src="{% static 'img/projeler/projedetay.png' %}"
                                                alt="img"><img
                            src="{% static 'img/projeler/teknofestkolaj.png' %}"
                            alt="img"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock end_info %}
