<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arama Sonuçları</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png"></a>
    </div>
    <div class="navbar-header navbar-end">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/profile.png">
        </div>
        <div class="col-md-9">
          <h4><b>Kağan Doğan</b></h4>
          <span>Hesabım</span>
        </div>
      </div>
    </div>
    <div class="navbar-center">
      <input type="search" name="search" placeholder="Arama Yap" class="form-control" id="search">
    </div>
  </div>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/home.png"> 
                <span class="title">Anasayfa</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/people.png"> 
                <span class="title">Üyeler</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/calendar.png"> 
                <span class="title">Takvim</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/forum.png"> 
                <span class="title">T3 Forum</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/book.png"> 
                <span class="title">Dijital Ansiklopedi</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/mentor.png"> 
                <span class="title">Mentor Bul</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/group.png"> 
                <span class="title">Gruplar</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/achievement.png"> 
                <span class="title">Skor Tablosu</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="row" id="categories">
          <div class="row mb-20">
            <div class="col-md-1"></div>
            <div class="col-md-2 card">
              <a href="">
                <h6 class="text-center">Üyeler</h6>
              </a>
            </div>

            <div class="col-md-2 card">
              <a href="">
                <h6 class="text-center">T3 Forum</h6>
              </a>
            </div>

            <div class="col-md-2 card">
              <a href="">
                <h6 class="text-center">Takvim</h6>
              </a>
            </div>

            <div class="col-md-2 card">
              <a href="">
                <h6 class="text-center">Mentor</h6>
              </a>
            </div>

            <div class="col-md-2 card">
              <a href="">
                <h6 class="text-center">Gruplar</h6>
              </a>
            </div>
            <div class="col-md-1"></div>
          </div>
        </div>
        <div class="col-lg-12 mt-20">

          <div class="col-md-8">

            <div class="row card mb-20 mt-20">
              <div class="container-fluid">
                <h4 class="mb-20">Üyeler</h4>
                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Hasan Kağan Doğan <span class="text-muted property">Öğrenci</span></h4>
                    <h6>boosmart şirketinde Business Growth Intern</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-2.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Tunahan Acar <span class="text-muted property">Mezun</span></h4>
                    <h6>Microsoft Türkiye şirketinde CTO</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-1.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Semih Şentürk <span class="text-muted property">Akademisyen</span></h4>
                    <h6>Boğaziçi Üniversitesinde Akademisyen</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-3.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Sergen Yalçın <span class="text-muted property">Çalışan</span></h4>
                    <h6>Türkiye Teknoloji Takımı Vakfında Sosyal Etkinlik Koordinatörü</h6>
                  </div>
                </div>

                <div class="row">
                  <a href=""><h6 class="text-center text-muted">Daha Fazla Sonuç Görüntüle</h6></a>
                </div>
              </div>
            </div>

            <div class="row card mb-20 mt-20">
              <div class="container-fluid">
                <h4 class="mb-20">T3 Forum</h4>
                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/design.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>2021 Tasarım Dili</h4>
                    <h6>Tasarım</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/tech.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Mining için Uygun Ekran Kartları</h4>
                    <h6>Teknoloji</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/news.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>21 Aralık Güneş Tutulması</h4>
                    <h6>Gündem</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/game.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>İnceleme | Detroid: Become Human</h4>
                    <h6>Oyun</h6>
                  </div>
                </div>

                <div class="row">
                  <a href=""><h6 class="text-center text-muted">Daha Fazla Sonuç Görüntüle</h6></a>
                </div>
              </div>
            </div>

            <div class="row card mb-20 mt-20">
              <div class="container-fluid">
                <h4 class="mb-20">T3 Forum</h4>
                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/partner-1.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>T3 Girişim Merkezi Eğitimi</h4>
                    <h6>Tasarım Sistemini Anlamak - 21 Şubat 2021 21:45</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/partner-2.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Film Analizi</h4>
                    <h6>Forrest Gump - 17 Mayıs 2021 19:00</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/partner-3.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Akran Eğitimi</h4>
                    <h6>Tasarım Sistemini Anlamak - 21 Şubat 2021 21:45</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/partner-1.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Film Analizi</h4>
                    <h6>Platform - 30 Haziran 2021 19:00</h6>
                  </div>
                </div>

                <div class="row">
                  <a href=""><h6 class="text-center text-muted">Daha Fazla Sonuç Görüntüle</h6></a>
                </div>
              </div>
            </div>

            <div class="row card mb-20 mt-20">
              <div class="container-fluid">
                <h4 class="mb-20">Mentor</h4>
                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Hasan Kağan Doğan</h4>
                    <h6>Yazılım</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-2.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Tunahan Acar</h4>
                    <h6>Tasarım</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-1.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Semih Şentürk</h4>
                    <h6>İş Geliştirme</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/user-3.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Sergen Yalçın</h4>
                    <h6>Pazarlama</h6>
                  </div>
                </div>

                <div class="row">
                  <a href=""><h6 class="text-center text-muted">Daha Fazla Sonuç Görüntüle</h6></a>
                </div>
              </div>
            </div>

            <div class="row card mb-20 mt-20">
              <div class="container-fluid">
                <h4 class="mb-20">Gruplar</h4>
                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/group-1.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>T3 Oyun</h4>
                    <h6>203 Katılımcı</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/group-2.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>Kitap Okuma Kulübü</h4>
                    <h6>56 katılımcı</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/group-3.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>T3 Sohbet</h4>
                    <h6>549 katılımcı</h6>
                  </div>
                </div>

                <div class="row item">
                  <div class="col-md-2">
                    <img src="assets/images/group-4.png" class="mt-10">
                  </div>
                  <div class="col-md-10">
                    <h4>İş / Staj İlanları</h4>
                    <h6>2540 katılımcı</h6>
                  </div>
                </div>

                <div class="row">
                  <a href=""><h6 class="text-center text-muted">Daha Fazla Sonuç Görüntüle</h6></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">

            <div class="row">
              <div class="calendar mb-20">
                <div class="front">
                  <div class="current-date">
                    <h1>Temmuz 2021</h1> 
                  </div>

                  <div class="current-month">
                    <ul class="week-days">
                      <li>P</li>
                      <li>S</li>
                      <li>Ç</li>
                      <li>P</li>
                      <li>C</li>
                      <li>C</li>
                      <li>P</li>
                    </ul>

                    <div class="weeks">
                      <div class="first">
                        <span class="last-month">28</span>
                        <span class="last-month">29</span>
                        <span class="last-month">30</span>
                        <span class="last-month">31</span>
                        <span>01</span>
                        <span>02</span>
                        <span>03</span>
                      </div>

                      <div class="second">
                        <span>04</span>
                        <span>05</span>
                        <span>06</span>
                        <span>07</span>
                        <span>08</span>
                        <span>09</span>
                        <span>10</span>
                      </div>

                      <div class="third">
                        <span>11</span>
                        <span>12</span>
                        <span>13</span>
                        <span>14</span>
                        <span class="active">15</span>
                        <span>16</span>
                        <span>17</span>
                      </div>

                      <div class="fourth">
                        <span>18</span>
                        <span>19</span>
                        <span>20</span>
                        <span>21</span>
                        <span>22</span>
                        <span>23</span>
                        <span>24</span>
                      </div>

                      <div class="fifth">
                        <span>25</span>
                        <span>26</span>
                        <span>27</span>
                        <span>28</span>
                        <span>29</span>
                        <span>30</span>
                        <span>31</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div id="partners">
              <div class="row">
                <img src="assets/images/partner-1.png">
                <span>Akran Eğitim</span>
              </div>
              <div class="row">
                <img src="assets/images/partner-2.png">
                <span>Girişimci Yetiştirme Programı</span>
              </div>
              <div class="row">
                <img src="assets/images/partner-3.png">
                <span>Deneyap Eğitimi</span>
              </div>
              <div class="row">
                <img src="assets/images/partner-4.png">
                <span>Bilim Türkiye Atölye Eğitimi</span>
              </div>
              <div class="row">
                <img src="assets/images/partner-5.png">
                <span>Film Analizi</span>
              </div>
            </div>
            
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Right-->
  <div id="sidebar-wrapper-right">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/add-btn.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-1.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-2.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-3.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/boo.png">
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>

<script src="index.js"></script>

</body>
</html>