<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mentor Bul Mentor</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png"></a>
    </div>
    <div class="navbar-header navbar-end">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/profile.png">
        </div>
        <div class="col-md-9">
          <h4><b>Kağan Doğan</b></h4>
          <span>Hesabım</span>
        </div>
      </div>
    </div>
    <div class="navbar-center">
      <input type="search" name="search" placeholder="Arama Yap" class="form-control" id="search">
    </div>
  </div>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/home.png"> 
                <span class="title">Anasayfa</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/people.png"> 
                <span class="title">Üyeler</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/calendar.png"> 
                <span class="title">Takvim</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/forum.png"> 
                <span class="title">T3 Forum</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/book.png"> 
                <span class="title">Dijital Ansiklopedi</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/mentor.png"> 
                <span class="title">Mentor Bul</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/group.png"> 
                <span class="title">Gruplar</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/achievement.png"> 
                <span class="title">Skor Tablosu</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 content">
                <div class="col-md-6 card">
                  <h4 class="card-header">Fuat SEVİM</h4>
                  <img src="assets/images/mentor-1.png" class="profile-img">
                  <div class="container-fluid card-title">
                    <h4 class="pull-left">UI UX Designer</h4>
                    <img src="assets/images/icon-1.png" class="pull-right"> 
                  </div>
                  <p class="card-content">Artist in love with the whimsical and character design. Disney fanboi. Front-end developer and Designer. Loves hard AF techno, dubstep, strong cheeses, hotter hot sauce and Horror movies.  </p>
                  <div class="row card-footer">
                    <div class="col-md-3">
                      <a href="">Behance ↗</a>
                    </div>
                    <div class="col-md-3">
                      <a href="">LinkedIn ↗</a>
                    </div>
                    <div class="col-md-3">
                      <a href="">Website ↗</a>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-6 card">
                  <h4 class="card-header">Mustafa Miran</h4>
                  <img src="assets/images/mentor-2.png" class="profile-img">
                  <div class="container-fluid card-title">
                    <h4 class="pull-left">Front End Developer</h4>
                    <img src="assets/images/icon-2.png" class="pull-right"> 
                  </div>
                  <p class="card-content">Human-being & designer. — Takes his type & code game very seriously. Massimo Vignelli’s alumn. Pursuer of intellectual elegance and functional aesthetic. Maker of the first Figma Plugin Panel. </p>
                  <div class="row card-footer">
                    <div class="col-md-3">
                      <a href="">Twitter ↗</a> 
                    </div>
                    <div class="col-md-3">
                      <a href="">Github ↗</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 card">
                  <h4 class="card-header">Ayça YILMAZ</h4>
                  <img src="assets/images/mentor-3.png" class="profile-img">
                  <div class="container-fluid card-title">
                    <h4 class="pull-left">Pazarlama Uzmanı</h4>
                    <img src="assets/images/icon-3.png" class="pull-right"> 
                  </div>
                  <p class="card-content">Citizen of the atlas. Amateur playlist curator and always on the hunt for new music. Fashion, art, and design enthusiast. If you like Taco Bell, let’s be friends. </p>
                  <div class="row card-footer">
                    <div class="col-md-3">
                      <a href="">Twitter ↗</a> 
                    </div>
                    <div class="col-md-3">
                      <a href="">LinkedIn ↗</a>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 card card-active">
                  <h4 class="card-header">Melih YÜNCÜ</h4>
                  <img src="assets/images/mentor-4.png" class="profile-img">
                  <div class="container-fluid card-title">
                    <h4 class="pull-left">İş Geliştirme Uzmanı</h4>
                    <img src="assets/images/icon-4.png" class="pull-right"> 
                  </div>
                  <p class="card-content">I am a digital designer located just outside of Toronto, Canada. I like bicycles of all types, making things out of wood and have two cats and twin boys! </p>
                  <div class="row card-footer">
                    <div class="col-md-3">
                      <a href="">Twitter ↗</a> 
                    </div>
                    <div class="col-md-3">
                      <a href="">LinkedIn ↗</a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Right-->
  <div id="sidebar-wrapper-right">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/add-btn.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-1.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-2.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-3.png"> 
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/boo.png">
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>

<script src="index.js"></script>

</body>
</html>